# CodeIgniter 4 Writable Directory
writable/cache/*
!writable/cache/index.html
!writable/cache/.gitkeep
writable/debugbar/*
!writable/debugbar/index.html
!writable/debugbar/.gitkeep
writable/logs/*
!writable/logs/index.html
!writable/logs/.gitkeep
writable/session/*
!writable/session/index.html
!writable/session/.gitkeep
writable/uploads/*
!writable/uploads/index.html
!writable/uploads/.gitkeep

# Composer
/vendor/

# Environment
.env.bak
.env.local

# IDE & OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
